<div class="container mt-5">
    <table class="table table-hover" *ngIf="(orders$ | async) as orders">
        <thead>
          <tr class="bg-light">
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr routerLink="/orders/{{order.id}}" *ngFor="let order of orders" style="cursor: pointer;">
            <th scope="row">{{order.id}}</th>
            <td>{{order.orderDate | date:'medium'}}</td>
            <td>{{order.total | currency}}</td>
            <td>{{order.status}}</td>
          </tr>
        </tbody>
      </table>

</div>
